.body {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
  align-items: center;
}

.result {
  background-color: rgba(223, 239, 247, 0.671);
  border: 2px solid rgba(155, 216, 245, 0.747);
}

.result.MuiGrid-spacing-xs-2 {
  width: 100%;
  align-self: center;
  margin: none;
  margin-top: 5%;
}
